body {
  font-family: Helvetica Neue, Verdana, sans-serif;
  font-size: 11pt;
}

table {
  border-collapse: collapse;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

table, th, td {
  border: 1px solid #ddd;
  padding: 4px;
}

th {
  background-color: #ddd;
  text-align: left;
  font-size: 10pt;
}

td.metric {
  text-align: right;
}

a {
  color: MediumBlue;
  text-decoration: none;
}

table tr:hover {
  background-color: #f6f6f6;
}

.sortable th.asc::after {
  content: " ▲";
}

.sortable th.desc::after {
  content: " ▼";
}