body {
  font-family: Helvetica Neue, Verdana, sans-serif;
  font-size: 11pt;
}

table {
  border-collapse: collapse;
  border: none;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 4px;
}

th {
  background-color: #ddd;
  text-align: left;
}

td.hits, td.coverage {
  text-align: right;
}

a {
  color: MediumBlue;
  text-decoration: none;
}