/* Pretty printing styles (used with prettify.js) */
/* Colors mostly taken from IntelliJ IDE light theme */
.str { color: #067d17; }
.kwd { color: #0033b3; }
.com { color: #8c8c8c; font-weight:italic; }
.lit { color: #00627a; }
.typ { color: #000; }
.pun { color: #000; }
.pln { color: #000; }
.tag { color: #000; }
.atn { color: #000; }
.atv { color: #000; }
.dec { color: #000; }
